<h5>Forecast Accuracy for the Past 5 days</h5>

<div [ngClass]="isHandSet ? 'oneColumn' : 'oneRow'" >
  <div [ngClass]="isHandSet ? 'accSummary':''" *ngFor="let summary of accSummaryList">
    <mat-card>
      <mat-card-title>
        {{summary["tradedate"]}}
      </mat-card-title>
      <mat-card-content>
        <div> Accuracy for <b>80%</b> range : <b>{{ summary["accuracy80"] }}% </b></div>
        <div> Accuracy for <b>90%</b> range : <b>{{ summary["accuracy90"] }}% </b></div>
      </mat-card-content>
    </mat-card>


  </div>

</div>

<div class="spacer">

</div>

    <h5  [ngClass]="isHandSet ? 'forecastTitle-mobile' : 'forecastTitle1'">Support and Resistance Forecast</h5>

    <h4   [ngClass]="isHandSet ? 'forecastTitle2-mobile' : 'forecastTitle2'">  {{forecastDate}} </h4>





<h5>Counters available for forecasting</h5>


<div *ngIf="isLoading; else templateLoaded">
  <mat-progress-spinner
    class="example-margin"
    [color]="color"
    [mode]="mode"
    [value]="value">
  </mat-progress-spinner>
</div>

<ng-template #templateLoaded>

  <mat-tab-group>
    <mat-tab label="A - E">
      <div class="alignmiddle" fxLayout="row">
        <div class="firsttabclass">
          <h5>0 - 9</h5>
          <div *ngFor="let counter of activeCounters['3']">
            <div [ngClass]="isHandSet ? 'market-mobile' : 'market'">
              <a routerLink="/security/{{counter['Symbol']}}"> {{ counter["Name"] }}</a>
            </div>
          </div>
        </div>
        <div class="firsttabclass" *ngFor="let char of AEList">
          <h5> {{char}}</h5>
          <div *ngFor="let counter of activeCounters[char]">
            <div [ngClass]="isHandSet ? 'market-mobile' : 'market'">
              <a routerLink="/security/{{counter['Symbol']}}"> {{ counter["Name"] }}</a>
            </div>
          </div>
        </div>
      </div>

    </mat-tab>
    <mat-tab label="F - J">
      <div class="alignmiddle" fxLayout="row">
        <div class="middletab" *ngFor="let char of FJList">
          <h5> {{char}}</h5>
          <div *ngFor="let counter of activeCounters[char]">
            <div [ngClass]="isHandSet ? 'market-mobile' : 'market'">
              <a routerLink="/security/{{counter['Symbol']}}"> {{ counter["Name"] }}</a>
            </div>
          </div>
        </div>
      </div>

    </mat-tab>
    <mat-tab label="K - O">
      <div class="alignmiddle" fxLayout="row">
        <div class="middletab" *ngFor="let char of KOList">
          <h5> {{char}}</h5>
          <div *ngFor="let counter of activeCounters[char]">
            <div [ngClass]="isHandSet ? 'market-mobile' : 'market'">
              <a routerLink="/security/{{counter['Symbol']}}"> {{ counter["Name"] }}</a>
            </div>
          </div>
        </div>
      </div>

    </mat-tab>
    <mat-tab label="P - T">
      <div class="alignmiddle" fxLayout="row">
        <div class="middletab" *ngFor="let char of PTList">
          <h5> {{char}}</h5>
          <div *ngFor="let counter of activeCounters[char]">
            <div [ngClass]="isHandSet ? 'market-mobile' : 'market'">
              <a routerLink="/security/{{counter['Symbol']}}"> {{ counter["Name"] }}</a>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="U - Z">
      <div class="alignmiddle" fxLayout="row">
        <div class="middletab" *ngFor="let char of UZList">
          <h5> {{char}}</h5>
          <div *ngFor="let counter of activeCounters[char]">
            <div [ngClass]="isHandSet ? 'market-mobile' : 'market'">
              <a routerLink="/security/{{counter['Symbol']}}"> {{ counter["Name"] }}</a>
            </div>
          </div>
        </div>
      </div>

    </mat-tab>
  </mat-tab-group>



</ng-template>
