<div class="loginclass" fxLayoutAlign="center center">
<div fxFlex="50%" >
  <div fxLayout="row" fxLayoutGap="90px">
    <div fxFlex="1 1 50%" >
      <div  fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="10px">
        <mat-form-field class="classicinput">
          <input matInput type="email" placeholder="Email" [formControl]="emailFormControl" >
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>

        </mat-form-field>
        <mat-form-field class="classicinput">
          <input matInput id="password" placeholder="Password" type="password" [formControl]="passwordFormControl" >
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="loginWithUsernamePassword()">Login</button>
        <div  fxLayoutAlign="center" >
          <a routerLink="/reset">Forgot your password?</a>
        </div>
      </div>
    </div>

    <div fxFlex fxLayout="column" fxLayoutAlign="center center"  fxLayoutGap="55px">

        <button class="facebook-class" mat-button (click)="loginFacebook()"><i class="fab fa-facebook" style="font-size:16px;"></i> |  Sign in with Facebook</button>

        <button class="google-class" mat-button (click)="loginGoogle()"><i class="fab fa-google-plus" style="font-size:16px;"></i>  |  Sign in with Google</button>




    </div>
  </div>

</div>
</div>
