<div class="table-class" fxFlex="1 1 60%">
  <mat-table #table [dataSource]="distholdingsDataSource">

    <!-- Size of holdings Column -->
    <ng-container matColumnDef="levelname">
      <mat-header-cell class="cell-class"  *matHeaderCellDef> Size of Holdings </mat-header-cell>
      <mat-cell class="cell-class"  *matCellDef="let element"> {{element.levelname}}. </mat-cell>
    </ng-container>

    <!-- No. of shareholders Column -->
    <ng-container matColumnDef="numshareholders">
      <mat-header-cell class="cell-class"  *matHeaderCellDef> No. of Shareholders </mat-header-cell>
      <mat-cell class="cell-class"   *matCellDef="let element"> {{ element.numshareholders}} </mat-cell>
    </ng-container>

    <!-- Shares Column -->
    <ng-container matColumnDef="numshares">
      <mat-header-cell class="cell-class"   *matHeaderCellDef> No. of Shares </mat-header-cell>
      <mat-cell class="cell-class"   *matCellDef="let element"> {{ element.numshares.toLocaleString() }} </mat-cell>
    </ng-container>

    <!-- Percentage Column -->
    <ng-container matColumnDef="sharespercentage">
      <mat-header-cell class="cell-class"  *matHeaderCellDef> Percentage </mat-header-cell>
      <mat-cell class="cell-class" *matCellDef="let element"> {{element.sharespercentage }}% </mat-cell>
    </ng-container>

    <mat-header-row  class="my-mat-row" *matHeaderRowDef="distholdingsColumns"></mat-header-row>
    <mat-row class="my-mat-row" *matRowDef="let row; columns: distholdingsColumns;"></mat-row>
  </mat-table>


</div>

<div class="table-class" fxFlex="1 1 60%">
  <mat-table #table [dataSource]="top30DataSource">

    <!-- Size of holdings Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell class="cell-class"  *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell class="cell-class"  *matCellDef="let element"> {{element.id}}. </mat-cell>
    </ng-container>

    <!-- No. of shareholders Column -->
    <ng-container matColumnDef="detailname">
      <mat-header-cell class="cell-class"  *matHeaderCellDef> Name</mat-header-cell>
      <mat-cell class="cell-class"   *matCellDef="let element"> {{ element.detailname}} </mat-cell>
    </ng-container>

    <!-- Shares Column -->
    <ng-container matColumnDef="shares">
      <mat-header-cell class="cell-class"   *matHeaderCellDef>  Shares </mat-header-cell>
      <mat-cell class="cell-class"   *matCellDef="let element"> {{ element.shares.toLocaleString() }} </mat-cell>
    </ng-container>

    <!-- Percentage Column -->
    <ng-container matColumnDef="percentage">
      <mat-header-cell class="cell-class"  *matHeaderCellDef> Percentage </mat-header-cell>
      <mat-cell class="cell-class" *matCellDef="let element"> {{element.percentage }}% </mat-cell>
    </ng-container>

    <mat-header-row  class="my-mat-row" *matHeaderRowDef="Top30Columns"></mat-header-row>
    <mat-row class="my-mat-row" *matRowDef="let row; columns: Top30Columns;"></mat-row>
  </mat-table>


</div>
