<div *ngIf="showLogin; else templateName" fxFlexAlign="center">

  <div fxLayout="row" fxLayoutAlign="center center">
    <button mat-button (click)="openDialog()">Sign In</button> or Register for FREE to view interactive charts!
  </div>

</div>
<ng-template #templateName>
  <highcharts-chart fxFlex
                    [Highcharts]="Highstocks"

                    [constructorType]="chartConstructor"
                    [options]="interactiveChartOptions"

                    [(update)]="interactiveUpdateFlag"
                    [oneToOne]="interactiveOneToOneFlag"

                    style="width: 100%; height: 400px; display: block;"
  ></highcharts-chart>

  Static box is from
</ng-template>
