<div class="full-height">
  <mat-sidenav-container class="full-height">
    <mat-sidenav mode="side" opened class="full-height">

      <mat-list>
        <mat-list-item class="list-pointer"(click)="searchBy(0)" [style.background-color]="selStyles[0]" > Search By Stock
          <mat-divider></mat-divider>
        </mat-list-item>
        <mat-list-item class="list-pointer" (click)="searchBy(1)" [style.background-color]="selStyles[1]" > Search By Shareholder
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>



    </mat-sidenav>
    <mat-sidenav-content >

      <div *ngIf="showByStock" fxLayout="column" fxLayoutGap="15px">
        <div></div>
        <div class="div-center" fxFlexAlign="center" fxLayout="row">
          <mat-form-field class="example-full-width" [floatLabel]="options.value.floatLabel">
            <mat-label>Stock Symbol, Code or Name</mat-label>
            <input type="search"  [formControl]="companyField" (keyup.enter)="onSearchCompany()" matInput placeholder="Search">
          </mat-form-field>
        </div>

        <div *ngIf="hasCompanyResults" class="table-class">
          <mat-table #table [dataSource]="companyDataSource">

            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <mat-header-cell class="cell-class"  fxFlex="{{ idColumnWidth }}" *matHeaderCellDef> ID </mat-header-cell>
              <mat-cell class="cell-class"  fxFlex="{{ idColumnWidth }}" *matCellDef="let element"> {{element.id}}. </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell class="cell-class"  fxLayoutAlign="center"  fxFlex="{{ nameColumnWidth }}" *matHeaderCellDef> Name </mat-header-cell>
              <mat-cell class="cell-class"  fxFlex="{{ nameColumnWidth }}" *matCellDef="let element"> {{ element.name}} </mat-cell>
            </ng-container>

            <!-- Shares Column -->
            <ng-container matColumnDef="shares">
              <mat-header-cell class="cell-class"  fxFlex="{{ sharesColumnWidth }}" fxLayoutAlign="center"  *matHeaderCellDef> Shares </mat-header-cell>
              <mat-cell class="cell-class"  fxFlex="{{ sharesColumnWidth }}"  *matCellDef="let element"> {{ element.shares.toLocaleString() }} </mat-cell>
            </ng-container>

            <!-- Percentage Column -->
            <ng-container matColumnDef="percentage">
              <mat-header-cell class="cell-class" fxFlex="{{ percentageColumnWidth }}" *matHeaderCellDef> Percentage </mat-header-cell>
              <mat-cell class="cell-class"  fxFlex="{{ percentageColumnWidth }}" *matCellDef="let element"> {{element.percentage }} </mat-cell>
            </ng-container>

            <mat-header-row  class="my-mat-row" *matHeaderRowDef="companyColumns"></mat-header-row>
            <mat-row class="my-mat-row" *matRowDef="let row; columns: companyColumns;"></mat-row>
          </mat-table>


        </div>

      </div>

      <div *ngIf="!showByStock" fxLayout="column"  fxLayoutGap="15px">

        <div></div>
        <div class="div-center" fxFlexAlign="center" fxLayout="row">
          <mat-form-field class="example-full-width" [floatLabel]="options.value.floatLabel">
            <mat-label>Shareholder's name</mat-label>
            <input type="search"  [formControl]="shareholderField" (keyup.enter)="onSearchShareholders()" matInput placeholder="Search">
          </mat-form-field>
        </div>

        <div *ngIf="hasHolderResults" class="table-class">
          <mat-table #table [dataSource]="companyDataSource">

            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <mat-header-cell class="cell-class"  fxFlex="{{ idColumnWidth }}" *matHeaderCellDef> ID </mat-header-cell>
              <mat-cell class="cell-class"  fxFlex="{{ idColumnWidth }}" *matCellDef="let element"> {{element.id}} </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell class="cell-class"  fxFlex="{{ nameColumnWidth }}" *matHeaderCellDef> Name </mat-header-cell>
              <mat-cell class="cell-class"  fxFlex="{{ nameColumnWidth }}" *matCellDef="let element"> {{ element.name}} </mat-cell>
            </ng-container>

            <!-- Shares Column -->
            <ng-container matColumnDef="shares">
              <mat-header-cell class="cell-class"  fxFlex="{{ sharesColumnWidth }}" *matHeaderCellDef> Shares </mat-header-cell>
              <mat-cell class="cell-class"  fxFlex="{{ sharesColumnWidth }}" *matCellDef="let element"> {{ element.shares}} </mat-cell>
            </ng-container>

            <!-- Percentage Column -->
            <ng-container matColumnDef="percentage">
              <mat-header-cell class="cell-class" fxFlex="{{ percentageColumnWidth }}" *matHeaderCellDef> Percentage </mat-header-cell>
              <mat-cell class="cell-class"  fxFlex="{{ percentageColumnWidth }}" *matCellDef="let element"> {{element.percentage }} </mat-cell>
            </ng-container>

            <mat-header-row  class="my-mat-row" *matHeaderRowDef="companyColumns"></mat-header-row>
            <mat-row class="my-mat-row" *matRowDef="let row; columns: companyColumns;"></mat-row>
          </mat-table>


        </div>

      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>


