
<div *ngIf="startLoading">
  <mat-progress-spinner
    class="example-margin"
    [color]="color"
    [mode]="mode"
    [value]="value">
  </mat-progress-spinner>
</div>


<div *ngIf="!startLoading" fxLayout="column" fxLayoutGap="10px">
  <div>
    <mat-tab-group>
      <mat-tab label="Overview"> <app-overview></app-overview></mat-tab>
      <mat-tab label="Charts"> Content 2 </mat-tab>
      <mat-tab label="Shareholdings"> Content 3 </mat-tab>
    </mat-tab-group>
  </div>
  <div  id="selection" class="divider" fxFlex="0 0 100%" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
    <div class="static" > <a (click)="switchToStatic()"> <small>Static </small> </a> </div>
    <div>|</div>
    <div class="interactive" > <a  (click)="switchToInteractive()"> <small> Interactive </small> </a> </div>
  </div>

  <div fxLayout="row">
    <div *ngIf="showStatic" fxFlex="1 1 90%" >
      <highcharts-chart
        [Highcharts]="Highstocks"

        [constructorType]="chartConstructor"
        [options]="staticChartOptions"

        [(update)]="staticUpdateFlag"
        [oneToOne]="staticOneToOneFlag"


      ></highcharts-chart>
    </div>
    <div *ngIf="!showStatic" fxFlex="{{fxFlexValue}}"  >
      <div *ngIf="showLogin; else templateName" fxFlexAlign="center">

        <div fxLayout="row" fxLayoutAlign="center center">
          <button mat-button (click)="openDialog()">Sign In</button> or Register for FREE to view interactive charts!
        </div>

      </div>

      <ng-template #templateName>
        <highcharts-chart fxFlex
                          [Highcharts]="Highstocks"

                          [constructorType]="chartConstructor"
                          [options]="interactiveChartOptions"

                          [(update)]="interactiveUpdateFlag"
                          [oneToOne]="interactiveOneToOneFlag"

                          style="width: 100%; height: 400px; display: block;"
        ></highcharts-chart>
      </ng-template>

    </div>
    <div fxFlex="1 1 20%">
      <table class="tableClass"  mat-table [dataSource]="securitySummaryDataSource" >

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Stock Column -->
        <ng-container matColumnDef="label">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element"> {{element['label']}} </td>
        </ng-container>

        <!-- Last Column -->
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td align="right" mat-cell *matCellDef="let element"> {{element['value']}} </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="securitySummaryColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: securitySummaryColumns;"></tr>
      </table>
    </div>
  </div>

</div>

