.div1 {
  background-color: blue;
  height: 5vh;
}

.div2 {
  background-color: black;
  height: 5vh
}

.static {
  text-align: right;
  cursor: pointer;
}

.securityOverview {
  width : 20%;
}

.securityOverviewCell {
  height : 16px;
}

.staticChart {
  width : 750px
}

.mat-row {
  min-height: 16px !important;
  height: 16px !important;
}

.interactiveChart {
  width : 750px
}

.my-centered-dialog {
  max-width: 80vw;

.mat-dialog-container {
  max-width: none;
}
}

.interactive {
  cursor: pointer;
}

.tableClass {
  width: 100% !important;
}


.divider {
  height : 5vh;
}


