.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}


.spacer {
  flex: 1 1 auto;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 2;
}

.toprightclass {
  display: inline-block;
}

.zeropadding {
  padding: 0px !important;
}

.mat-button {
  min-width: 10%;
}

.menuclass {
  width: 32px !important;
}

.mobileusername {
  margin-left: 10px;
  margin-right: 10px;
}

.leftrightpadding {
  margin-left: 10px;
  margin-right: 10px;
}




mat-toolbar a {
  display: inline-block;
  font-size: 15px;
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

@media (min-width: 768px) {
  .sidenav {
    display: none;
  }
}
