<div fxLayout="column" fxLayoutGap="5px" class="topcontainer" style=" font-family: 'Lato', sans-serif;">
  <!--<mat-toolbar  color="primary">-->
    <!--<span>Just Trade All</span>-->
    <!--<span fxFlex></span>-->
    <!--<div>-->
      <!--<mat-menu #appMenu="matMenu">-->
        <!--<button mat-menu-item routerLinkActive="menu-active" routerLink="shareholdings">Shareholdings Analysis</button>-->

      <!--</mat-menu>-->
      <!--<button mat-button [matMenuTriggerFor]="appMenu">Analysis</button>-->
      <!--<button mat-button >Blog</button>-->

      <!--<mat-menu #userMenu="matMenu">-->
        <!--<button mat-menu-item routerLinkActive="menu-active" routerLink="login">Login</button>-->
        <!--<button mat-menu-item routerLinkActive="menu-active" routerLink="register">Register</button>-->

      <!--</mat-menu>-->
      <!--<button mat-button [matMenuTriggerFor]="userMenu"><i class="far fa-user" style="font-size:16px;"></i></button>-->

    <!--</div>-->


  <!--</mat-toolbar>-->
  <div  class="primaryrow" fxLayout="row">

    <button class="mainTitle" mat-button (click)="activateHome()">Home</button>
    <button class="mainTitle" mat-button (click)="activateMarket()">Market</button>
    <button class="mainTitle" mat-button (click)="activateAnalysis()">Analysis</button>

        <!-- This fills the remaining space of the current row -->
        <span class="example-fill-remaining-space"></span>


    <button class="mainTitle" mat-button (click)="openDialog()">Login</button>

  </div>
  <div fxLayout="row" fxLayoutGap="10px"  class="secrow">
    <div fxLayout="row" *ngFor="let data of secondaryTitles">
      <button mat-button (click)="testClick(data)">{{data}} </button>
    </div>
  </div>
  <div class="full-width">
  <mat-form-field style="width:400px !important">
    <input class="input-width" [formControl]="myControl"  matInput placeholder="Search Symbol or Code" [matAutocomplete]="auto" (keyup.enter)="navigateSecurity()" >
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)='selectCounter($event.option.value)' >
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>




  <router-outlet></router-outlet>

</div>

