<app-main-nav>
  <router-outlet></router-outlet>
</app-main-nav>


<!--<div fxLayout="column" fxLayoutGap="5px" class="topcontainer" style=" font-family: 'Lato', sans-serif;">-->
  <!--<mat-toolbar  color="primary">-->




    <!--&lt;!&ndash;<div fxFlex="0 1 10%" class="menuTitle">&ndash;&gt;-->
      <!--&lt;!&ndash;<button mat-button routerLinkActive="menu-active" routerLink="login">Login</button>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div fxFlex="0 1 10%" class="menuTitle">&ndash;&gt;-->
      <!--&lt;!&ndash;<button mat-button routerLinkActive="menu-active" routerLink="register">Sign Up</button>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<button mat-button [matMenuTriggerFor]="appMenu">Analysis</button>&ndash;&gt;-->
      <!--<div fxFlex="1 1 6%" class="leftrightpadding" *ngIf="showSearchButton; else showSearchInputTemplate">-->

      <!--</div>-->
    <!--<ng-template #showSearchInputTemplate>-->
      <!--<mat-form-field class="leftrightpadding" [floatLabel]="'never'">-->
        <!--<input [formControl]="myControl"  class="searchinput leftrightpadding" matInput placeholder="" [matAutocomplete]="auto" (keyup.enter)="navigateSecurity()" autofocus>-->
        <!--<mat-autocomplete #auto="matAutocomplete" (optionSelected)='selectCounter($event.option.value)' >-->
          <!--<mat-option  *ngFor="let option of filteredOptions | async" [value]="option"  (focusout)="focusOutSearchInput()" >-->
            <!--{{option}}-->
          <!--</mat-option>-->
        <!--</mat-autocomplete>-->
      <!--</mat-form-field>-->

    <!--</ng-template>-->

      <!--<div fxFlex="1 1 10%" *ngIf="(isLoggedIn | async); else templateName">-->
        <!--<img class="profileimg leftrightpadding" title="{{userName}}" src="{{photourl}}"  height="35" width="35">-->
        <!--<button class="leftrightpadding" mat-button [matMenuTriggerFor]="userMenu"><i class="fas fa-align-justify"></i></button>-->

      <!--</div>-->
    <!--<mat-menu #userMenu="matMenu" [overlapTrigger]="false" >-->
      <!--<button mat-menu-item (click)="logout()">Logout</button>-->
    <!--</mat-menu>-->

      <!--<ng-template #templateName>-->
        <!--<button mat-button routerLinkActive="menu-active" routerLink="login">Login</button>-->
        <!--<button mat-button routerLinkActive="menu-active" routerLink="register">Register</button>-->
      <!--</ng-template>-->


  <!--</mat-toolbar>-->








