.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}
.klsechart {
  width: 40vw;
}

.newhigh {
  width: 20vw;
}

.topgainer {
  width: 30vw
}

.topgainertable {

  width: 25vw
}

.mat-row {
  height: auto;
}

.mat-cell {
  font-size: 10px;
  line-height: 2em;
  padding: 4px 4px 4px 0;
  font-weight: 900;
}

.mat-header-cell {
  font-size: 10px;
  line-height: 2em;
  padding: 4px 4px 4px 0;
  font-weight: 900;
}

.topgainerpct {
  width: 30vw
}

.topgainerpcttable {
  width: 25vw
}

.toppadding {
  padding-top: 25px;
}


.home-container {
  display: flex;
  justify-content: center;
}

.home-row-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.home-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}




.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}
