.fundamentals-screener {
  width: 80%;
  margin: 0 auto;
}

.technicals {
  width: 55%;
  margin: 0 auto;
}

.technicals-table {
  width : 80%;
}

.overlay {

  width: 100%;
  height : 100%;
  display: block;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;

}

.center{
  margin: 0 auto;
  width: 10%;

}
