
<mat-tab-group>
  <mat-tab label="Fundamentals">
    <mat-grid-list cols="4" rowHeight="75">
      <mat-grid-tile>
        <mat-form-field>
        <mat-label>EPS</mat-label>
        <mat-select placeholder="EPS"  [(ngModel)]="epsValue" (selectionChange)="epsChange()">
          <mat-option *ngFor="let eps of epsRange" [value]="eps">
            {{eps}}
          </mat-option>
        </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>MarketCap</mat-label>
          <mat-select placeholder="MarketCap"  [(ngModel)]="marketCap" (selectionChange)="marketCapChange()">
            <mat-option *ngFor="let marketCap of marketCapRange" [value]="marketCap">
              {{marketCap}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Shares</mat-label>
          <mat-select placeholder="Shares"  [(ngModel)]="shares" (selectionChange)="sharesChange()">
            <mat-option *ngFor="let shares of sharesRange" [value]="shares">
              {{shares}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>P/E</mat-label>
          <mat-select placeholder="P/E"  [(ngModel)]="peRatio" (selectionChange)="peRatioChange()">
            <mat-option *ngFor="let peRatio of peRatioRange" [value]="peRatio">
              {{peRatio}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>ROE(%)</mat-label>
          <mat-select placeholder="ROE(%)"  [(ngModel)]="roeRatio" (selectionChange)="epsChange()">
            <mat-option *ngFor="let roeRatio of roeRatioRange" [value]="roeRatio">
              {{roeRatio}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Dividend(cent)</mat-label>
          <mat-select placeholder="Dividend(cent)"  [(ngModel)]="dividend" (selectionChange)="dividendChange()">
            <mat-option *ngFor="let dividend of dividendRange" [value]="dividend">
              {{dividend}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>DividendYield(%)</mat-label>
          <mat-select placeholder="DividendYield(%)"  [(ngModel)]="dividendYield" (selectionChange)="dividendYieldChange()">
            <mat-option *ngFor="let dividendYield of dividendYieldRange" [value]="dividendYield">
              {{dividendYield}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>NTA</mat-label>
          <mat-select placeholder="NTA" [(ngModel)]="nta" (selectionChange)="ntaChange()">
            <mat-option *ngFor="let nta of ntaRange" [value]="nta">
              {{nta}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>

          <button mat-button (click)="screenStocks()">View</button>

      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
  <mat-tab label="Technical"> Content 2 </mat-tab>
  <mat-tab label="All"> Content 3 </mat-tab>
</mat-tab-group>

<h2 class="center">Results</h2>
<div class="center" *ngIf="isLoading;else tableContent">
  <mat-progress-spinner
    class="example-margin"
    [color]="color"
    [mode]="mode"
    [value]="value">
  </mat-progress-spinner>
</div>
<ng-template #tableContent>
  <div class="fundamentals-screener overlay" fxFlexAlign="center" fxLayout="column">
    <mat-table matSort (matSortChange)="sortData($event)"   [dataSource]="fundamentalsDataSource">

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <mat-header-cell class="cell-class"  fxFlex="{{ symbolWidth }}" *matHeaderCellDef mat-sort-header> Symbol </mat-header-cell>
        <mat-cell class="cell-class"  fxFlex="{{  symbolWidth }}" *matCellDef="let element"> {{element.symbol}} </mat-cell>
      </ng-container>

      <!-- marketcap Column -->
      <ng-container matColumnDef="MarketCap">
        <mat-header-cell class="cell-class"  fxFlex="{{ marketCapWidth }}" *matHeaderCellDef mat-sort-header> Market Cap </mat-header-cell>
        <mat-cell class="cell-class"  fxFlex="{{ marketCapWidth }}" *matCellDef="let element"> {{element.MarketCap | number}} </mat-cell>
      </ng-container>

      <!-- NumShares Column -->
      <ng-container matColumnDef="NumShares">
        <mat-header-cell class="cell-class"  fxFlex="{{ NumSharesWidth }}" *matHeaderCellDef mat-sort-header> NumShares</mat-header-cell>
        <mat-cell class="cell-class"  fxFlex="{{ NumSharesWidth }}" *matCellDef="let element"> {{element.NumShares | number}} </mat-cell>
      </ng-container>

      <!-- EPS Column -->
      <ng-container matColumnDef="EPS">
        <mat-header-cell class="cell-class"  fxFlex="{{ EPSWidth }}" *matHeaderCellDef mat-sort-header> EPS</mat-header-cell>
        <mat-cell class="cell-class"  fxFlex="{{ EPSWidth }}" *matCellDef="let element"> {{ element.EPS | number }} </mat-cell>
      </ng-container>

      <!-- PERatio Column -->
      <ng-container matColumnDef="PERatio">
        <mat-header-cell class="cell-class"  fxFlex="{{ PERatioWidth }}" *matHeaderCellDef mat-sort-header>  P/E </mat-header-cell>
        <mat-cell class="cell-class"  fxFlex="{{ PERatioWidth }}" *matCellDef="let element"> {{ element.PERatio | number }} </mat-cell>
      </ng-container>

      <!-- ROERatio Column -->
      <ng-container matColumnDef="ROERatio">
        <mat-header-cell class="cell-class"  fxFlex="{{ ROERatioWidth }}" *matHeaderCellDef mat-sort-header> ROE </mat-header-cell>
        <mat-cell class="cell-class"  fxFlex="{{ ROERatioWidth }}" *matCellDef="let element"> {{ element.ROERatio | number }} </mat-cell>
      </ng-container>

      <!-- Dividend Column -->
      <ng-container matColumnDef="Dividend">
        <mat-header-cell class="cell-class"  fxFlex="{{ DividendWidth }}" *matHeaderCellDef mat-sort-header> Dividend </mat-header-cell>
        <mat-cell class="cell-class"  fxFlex="{{ DividendWidth }}" *matCellDef="let element"> {{ element.Dividend | number }} </mat-cell>
      </ng-container>

      <!-- DividendYield Column -->
      <ng-container matColumnDef="DividendYield">
        <mat-header-cell class="cell-class"  fxFlex="{{ DividendYieldWidth }}" *matHeaderCellDef mat-sort-header> DividendYield </mat-header-cell>
        <mat-cell class="cell-class"  fxFlex="{{ DividendYieldWidth }}" *matCellDef="let element"> {{ element.DividendYield | number }} </mat-cell>
      </ng-container>

      <!-- NTA Column -->
      <ng-container matColumnDef="NTA">
        <mat-header-cell class="cell-class"  fxFlex="{{ NTAWidth }}" *matHeaderCellDef mat-sort-header> NTA </mat-header-cell>
        <mat-cell class="cell-class"  fxFlex="{{ NTAWidth }}" *matCellDef="let element"> {{ element.NTA | number }} </mat-cell>
      </ng-container>

      <!-- ParValue Column -->
      <ng-container matColumnDef="ParValue">
        <mat-header-cell class="cell-class"  fxFlex="{{ ParValueWidth }}" *matHeaderCellDef mat-sort-header> ParValue </mat-header-cell>
        <mat-cell class="cell-class"  fxFlex="{{ ParValueWidth }}" *matCellDef="let element"> {{ element.ParValue | number }} </mat-cell>
      </ng-container>



      <mat-header-row  class="my-mat-row" *matHeaderRowDef="fundamentalColumns; sticky: true" ></mat-header-row>
      <mat-row class="my-mat-row" *matRowDef="let row; columns: fundamentalColumns;"  ></mat-row>
    </mat-table>
  </div>
</ng-template>



